# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 229ddb6d4c79654933283f4e6a6f7e1ac1d7545fe384a4b588e6edd30772898d62f21965582783d52babae4de3508c052276ea999fcd81251ab79d341cdf0cba

test:
  secret_key_base: f3a6ef9c606c3260134d9163d1db3b770374f4fb1d45fbbe6cd3b689a000aaa2212edb0f3eb1317735a201ab95353a87c06a7ef7b471932383c94e97e5c1207f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
