- content_for :google_map do
  javascript:
    function initMap() {
      var uluru = {lat: 48.909367, lng: 24.710889};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
      resizeMap();
    }

    function resizeMap() {
      var element = document.getElementById('map');
      element.style.height = window.innerHeight - 90 + 'px';
      element.style.width = element.parentElement.offsetWidth - 30 + 'px';
    }

    window.onresize = function(e) {
      resizeMap();
    }

  script async="" src="https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets[:google_api_key]}&callback=initMap"

.row
  .col-md-6.problems
    - 5.times do
      .panel class=("panel-#{%w(success danger).sample}")
        .panel-heading
          h3.panel-title
           ' Problem title
        .panel-body
          ' Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        .panel-footer
          = Date.current
  .col-md-6
    #map
